# ─── Dependencias ───────────────────────────────
node_modules/

# ─── Build de producción ────────────────────────
dist/

# ─── Variables de entorno ───────────────────────
.env

# ─── Cachés ─────────────────────────────────────
*.log
